.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}
::placeholder{
  color: red;
}
.myForm{
  width: 400px;
  margin: 0px auto;
  padding-top: 200px;
}

.avatar{
  margin-top: 2px;
  width:70px;
  height: 70px;
  margin-left: 2px;
}
.avatar:hover{
  cursor: pointer;
}

.myNav{
  height: 600px;
  width: 200px;
  border: 1px solid #CFD8DC;
}
.myBorder{
  border: 1px solid #CFD8DC;
}

.mySize{
  height: 600px;
  width: 80%;
}
.messageBody{
  width: 100%;
  height: 500px;
  background-color: #E0E0E0;
}
.textInput{
  width: 70%;
  float: left;
}

.textMessage{
  display: inline-block;
  max-width: calc(100%-100px);
  height: auto;
  border: 1px solid red;
}

.myHover:hover{
  cursor: pointer;
}